body { 
    padding-top: 100px; 
}

#logo{
	width:230px;
	height: 0;
	display: block;
	overflow: hidden;
	padding-top: 76px;
	font-size: 0;
	background: url("../images/logo.png") no-repeat center center;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    margin-top: 30px;
}

.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

.rss{
    margin-top: 40px;
}

.buttonMore{
    margin-top: 30px;
}

.box-content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.box-link{
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 26px 5px rgba(0,0,0,0.25); 
    box-shadow: 5px 5px 26px 5px rgba(0,0,0,0.25);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.box-link h2{
    margin-top: 0;
    font-size: 20px;
}

.pagination a{
    background-color: #cdcdcd;
    padding: 5px;
    color: #23527c;
}

.pagination a:hover{
    text-decoration: none;
}

.pagination a.active{
    background-color: #337ab7;
    padding: 5px;
    color: #fff;
}
